<!DOCTYPE html>
<html lang="en">
<style>
    td {
        width: 130px;
        border: 1px solid;
        padding: 5px;
        vertical-align: top;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge Wall</title>
</head>

<body>
    <table>
        <tr>
            <td>______</td>
            <td>X-0</td>
            <td>X-1</td>
            <td>X-2</td>
        </tr>
        <tr align="left">
            <td>Y-0</td>
            <td>20cm<br>8935086853566&emsp;32</td>
            <td>20cm<br>8935086853566&emsp;40<br>8935325005312&emsp;30</td>
            <td>20cm<br>8935325002496&emsp;25<br>8935244877434&emsp;200</td>
        </tr>
        <tr>
            <td>Y-1</td>
            <td>30cm</td>
            <td>76</td>
        </tr>
    </table>
    <table>
        <tr align="left">
            <td vertical-align="bottom">20cm<br>8935086853566&emsp;32</td>
            <td>20cm<br>8935086853566&emsp;40<br>8935325005312&emsp;30</td>
            <td>20cm<br>8935325002496&emsp;25<br>8935244877434&emsp;200</td>
        </tr>
    </table>
    <table>
        <tr align="left">
            <td>20cm<br>8935086853566&emsp;32</td>
            <td>20cm<br>8935086853566&emsp;40<br>8935325005312&emsp;30</td>
            <td>20cm<br>8935325002496&emsp;25<br>8935244877434&emsp;200</td>
        </tr>
    </table>
</body>

</html>