<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge Wall</title>
</head>

<body>
    <table>
        <tr>
            <td>Product Id</td>
            <td>Order Id</td>
            <td>Product Quantity</td>
        </tr>
        <tr>
            <td>1300076286414</td>
            <td>590028/20/XT/QV/ABQ</td>
            <td>76</td>
        </tr>
    </table>
</body>

</html>